<% include ../partials/header %>

<% include ../partials/aside %>

<main class="mn-inner">
    <div class="row">
        <div class="col s12">
            <div class="page-title">Form Tambah Rute</div>
        </div>
        <div class="col s6 offset-s3">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Input Rute</span><br>
                    <div class="row">
                        <form action="" method="post" class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <select name="cabang_asal">
                                        <option value="" readonly selected>Choose your option</option>
                                        <% cabang.forEach(function(data) { %>
                                          <option value="<%=data.id_cabang%>"><%=data.kotum.nama%> - <%=data.nama_cabang%></option>
                                        <% }) %>
                                    </select>
                                    <label>Cabang Asal</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <select name="cabang_tujuan">
                                        <option value="" readonly selected>Choose your option</option>
                                        <% cabang.forEach(function(data) { %>
                                          <option value="<%=data.id_cabang%>"><%=data.kotum.nama%> - <%=data.nama_cabang%></option>
                                        <% }) %>
                                    </select>
                                    <label>Cabang Tujuan</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input placeholder="Masukan Harga Rute" name="harga" type="text">
                                    <label for="first_name">Harga</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input class="waves-effect waves-light btn" type="submit" value="Simpan">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<% include ../partials/footer %>
<script src="/backend/assets/plugins/google-code-prettify/prettify.js"></script>
<script src="/backend/assets/js/pages/dialogs.js"></script>
<script type="text/javascript">
    var msg = '<%- message %>';
    if(msg) {
      Materialize.toast(msg, 5000);
    }
</script>
